<header>
  <h1>Recent Events</h1>
  <% if user_signed_in? %>
    <ul class="actions">
      <li>
        <%= link_to "Show calendar", calendar_events_path, class: "btn btn-primary btn-sm" %>
      </li>
      <li>
        <%= link_to "New Event", new_event_path, class: "new" %>
      </li>
    </ul>
  <% end %>
</header>

<div id="events">
  <% @events.each do |event| %>
    <h2><%= link_to event.title, event %></h2>
    <p><%= event.description %></p>
  <% end %>
</div>