<% title(@event.title, "Events") %>

<h1><%= @event.title %></h1>
<p><%= @event.description %></p>

<%= link_to "Edit Event", edit_event_path(@event) %>

<%= link_to "Delete Event",
  event_path(@event),
  method: :delete,
  data: { confirm: "Are you sure you want to delete this event?" }
%>