# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 8833928ee45fc153751ccaf21be88213c40052c0625d9a4a1eda833ba79114a411735ef5d3ecd718cb5152b1c897ed3bf09aa35610a30000da6d8cd48d3483ef

test:
  secret_key_base: 4fb1126f07daec23feaca2cf336548064d67d38af8b94b43f97a24965955068c737de478beb461f3135bc65c58c84380ed5e13d41a6578eb1185cc656b03b36a

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
