@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600,900");

// Typography

$font-family-sans-serif: "Work Sans", sans-serif !default;
$font-family-base: $font-family-sans-serif !default;

// Navbar

$navbar-height: 40px !default;

// Forms