// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#events h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0px 0px;
}

.event-details {
  h6 {
    margin-top: 0;
  }
}

#tags, #toggle-request {
  margin-bottom: 20px;
}

.tag {
  @extend .label;
  font-size: 12px;
  font-weight: 600;
  padding: 0.3em 0.6em;
  @extend .label-primary;
  margin-right: 10px;  
  a { 
    color: #FFF;
    text-decoration: none;
  }
  a.remove {
    color: #FFF;
    font-family: "FontAwesome";
    @extend .fa-close;
    text-decoration: none;
  }
}

.request-list {
  @extend .list-unstyled;
  width: 80%;
  li {
    margin-bottom: 10px;
  }
  span.request-buttons {
    float: right;
  }
}

.panel-requests {
  @extend .panel;
  @extend .panel-default;
  @extend .panel-body;
  margin-top: 20px;
}

.calendar-links {
  margin-bottom: 20px;
}

.calendar-table {
  @extend .table;
  @extend .table-hover;
  tbody {
    td {
      max-width: 120px;
      h5 {
        margin-bottom: 0px;
      }
    }
  }
}
