// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#events h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0px 0px;
}

.event-details {
  h6 {
    margin-top: 0;
  }
}
